//.container{
//  margin-top:20px;
//}
//.image-preview-input {
//  position: relative;
//  overflow: hidden;
//  margin: 0px;
//  color: #333;
//  background-color: #fff;
//  border-color: #ccc;
//}
//.image-preview-input input[type=file] {
//  position: absolute;
//  top: 0;
//  right: 0;
//  margin: 0;
//  padding: 0;
//  font-size: 20px;
//  cursor: pointer;
//  opacity: 0;
//  filter: alpha(opacity=0);
//}
//.image-preview-input-title {
//  margin-left:2px;
//}

.catlogue-area{
  margin: 10px 0 0 0;
}

.search-btn{
  margin: 10px 0 0 0;
}

.catlogue-screen img
{
  max-width: 792px;
  max-height:1000px;
}

.scrollable-menu {
  height: auto;
  max-height: 700px;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: inline-table;
}

table{
  height:300px;
}
tbody{
  overflow-y: scroll;
  height: auto;
  width: 100%;
  position: absolute;
}

//Loader
.loading-overlay {
  display: none;
  position: absolute;
  top: 252px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.6;
  z-index: 10000000;
}

.spin-loader {
  height: 100px;
  background: url("http://i62.tinypic.com/2hzsro.gif") no-repeat center center transparent;
  position: relative;
  top: 25%;
}

#button {
  width: 120px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .container{
    min-width: 1200px;
  }
}

.prod_name{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

#upload-form .alert{
  display: none;
}

.catlogue-screen{
  border:1px black;
}

.table-tr{
  display: block;
  float: left;
  width:33%;
  height:40px;
}